<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{%- block title %}{{ title }}{% endblock -%}</title>
    <link rel="stylesheet" href="/pico.classless.blue.min.css" />
    <link rel="stylesheet" href="/pico.colors.min.css" />
    {% block header %}{% endblock %}
    {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}
    <script src="/htmx.js"></script>
    <script src="/loading-states.js"></script>
  </head>
  <body hx-ext="loading-states">
    {%- block content -%}{%- endblock -%}
    {% include 'footer.en-us.html' %}
  </body>
</html>
